.idea/

models/dp_lpg.log

models/stand_ner_ru/env/
models/stand_ner_ru/DeepPavlov/
models/stand_ner_ru/dp_lpg.log
models/stand_ner_ru/stand_ner_ru.log

models/stand_ranking_en/env/
models/stand_ranking_en/DeepPavlov/
models/stand_ranking_en/dp_lpg.log
models/stand_ranking_en/stand_ranking_en.log